<form class="splash-container" [formGroup]="">
    <div class="card">
        <div class="card-header">
            <h3 class="mb-1">Operations sur les villes</h3>
            
        </div>
        <div class="card-body">
            
            <div class="form-group pt-2">
                <button class="btn btn-block btn-primary" type="submit" click="" >Obtenir les villes</button>
            </div>
            <div class="form-group pt-2">
                <button class="btn btn-block btn-primary" type="submit" click="" >Ajouter les villes</button>
            </div>
            <div class="form-group pt-2">
                <button class="btn btn-block btn-primary" type="submit" click="" >publier les villes</button>
            </div>
            <div class="form-group pt-2">
                <button class="btn btn-block btn-primary" type="submit" click="" >Obtenir les villes par id</button>
            </div>
            <div class="form-group pt-2">
                <button class="btn btn-block btn-primary" type="submit" click="" >Effacer les villes par id</button>
            </div>

            
            
           
        </div>
        
    </div>
    </form>

